<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/sendMultiple.js" defer></script>
    <title>HTML Mailer</title>
</head>
<body>
    <header>
        <h1><span>H</span><span>T</span><span>M</span><span>L</span> Mailer</h1>
    </header>
    <main>
        <form action="/email/send-multiple" method="post" autocomplete="off">
            <div class="inputs">
                <label for="select-email">Select an email to send:</label>
                <select name="select_emails" id="select-email" autofocus>
                    <optgroup label="What email to send">
                        <option value="company-info">Company Info</option>
                        <option value="get-a-quote-online">Get a Quote Online</option>
                        <option value="how-to-research">How to Research Your Movers</option>
                        <option value="checking-in-about-your-move">Checking In About Your Move</option>
                        <option value="if-your-movers-dont-show-up">If Your Movers Don't Show Up</option>
                    </optgroup>
                </select>
            </div>
            <div class="inputs">
                <label for="recipients">Recipients:</label>
                <textarea rows="4" cols="35" id="recipients" name="recipients" placeholder="eg. ['john', 'example@gmail.com'],['sarah', 'anotherexample@yahoo.com'],['kyle', 'placeholder@outlook.com']" required></textarea>
            </div>
            <div class="options">
                <p id="plain-text">How to Use - </p>
                <a href="" onclick="alert('nothing to see here yet')">Tutorial</a>
            </div>
            <button type="submit" class="{{color}}">Send Multiple</button>
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>