<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/sendMultiple.js" defer></script>
    <title>HTML Mailer</title>
    
    <script>
        const funcToCopy = `
        (function copiedCode() {
            let recipientList = [];
            let captureNext = false;
            let isFirstItem = true;
            const [...tds] = document.querySelectorAll("td");
            const tdList = tds.reverse();

            tdList.forEach((td) => {
                if (td.textContent.includes("@")) {
                const email = td.textContent;
                if (isFirstItem) {
                    recipientList.unshift(email);
                    isFirstItem = false;
                } else {
                    recipientList.unshift(\`\${email}\\n\`);
                }
                captureNext = true;
                } else if (captureNext) {
                const name = td.textContent;
                let parsedName = "";

                if (name.includes(" ")) {
                    [parsedName] = name.split(" ");
                } else {
                    for (let i = 0; i < name.length; i++) {
                    if (parsedName) break;
                    else if (parseInt(name[i])) {
                        parsedName = name.slice(0, i);
                    }
                    }
                }
                recipientList.unshift(\`\${parsedName.toString()},\`);
                captureNext = false;
                }
            });
            recipientList.shift();

            let finalParse = "";
            recipientList.forEach((item) => {
                finalParse += item;
            });
            console.log(finalParse);
        })()`;

      function copyToClipboard(e) {
        e.preventDefault();
        const copiedPopup = document.getElementById("copied-popup");
        copiedPopup.style.display = "none";

        navigator.clipboard
          .writeText(funcToCopy)
          .then(function () {
            copiedPopup.style.display = "block";
            copiedPopup.addEventListener("animationend", setDisplayNone);
          })
          .catch(function (err) {
            console.error("Unable to copy to clipboard:", err);
          });
      }

      function setDisplayNone(e) {
        e.target.style.display = "none";
        e.target.removeEventListener("animationend", setDisplayNone);
      }
    </script>
</head>
<body>
    <header>
        <h1>HTML Mailer</h1>
    </header>
    <main>
        <form action="/email/send-multiple" method="post" autocomplete="off">
            <div class="inputs">
                <label for="select-email">Select an email to send:</label>
                <select name="select_email" id="select-email" autofocus>
                    <optgroup label="What email to send">
                        <option value="company-info">Company Info</option>
                        <option value="get-a-quote-online">Get a Quote Online</option>
                        <option value="how-to-research">How to Research Your Movers</option>
                        <option value="checking-in-about-your-move">Checking In About Your Move</option>
                        <option value="if-your-movers-dont-show-up">If Your Movers Don't Show Up</option>
                    </optgroup>
                </select>
            </div>
            <div class="inputs">
                <label for="recipients">Recipients:</label>
                <textarea rows="4" cols="35" id="recipients" name="recipients" placeholder="eg. John,john@example.com\nJane,jane@example.com\nPeter,petersemail@example.com" required></textarea>
            </div>
            <div class="options">
                <p id="plain-text">Get Formatted Email List from Granot - </p>
                <a href="#" id="tutorial" onclick="copyToClipboard(event)">Click to Copy Code</a>
            </div>
            <button type="submit" class="{{color}}">Send Multiple</button>
        </form>
        <span id="copied-popup">Copied script to clipboard. Run in console to generate formatted email list.</span
        >
    </main>
    <footer>
    </footer>
</body>
</html>